main.main_box {
  width: 90%;
  margin: 30px auto;
  border: 1px solid #1f2739;
  background: #1f2739;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

main.main_title {
  margin: 20px auto;
}

main.form_wrapper {
  padding: 1rem;
  border-bottom: 1px solid #22b8cf;
}

main.list_wrapper {
  min-height: 5rem;
}
