div.bbs_write {
  flex: 1;
  width: 95%;
  margin: 10px auto;
  border: 2px solid #1f2739;
  display: flex;
  justify-content: center;
}

div.bbs_write h1 {
  margin: 15px auto;
  color: #fb667a;
}

div.bbs_write div.input_box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.bbs_write input,
div.bbs_write textarea {
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 5px auto;
  font-weight: bold;
}

div.bbs_write textarea {
  height: 40%;
  resize: none;
}
div.bbs_write button {
  width: 20%;
  outline: none;
  padding: 6px 20px;
  border-radius: 10px;
  background-color: #fff842;
  color: #fb667a;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  margin-top: 5px;
  margin-left: auto;
  font-size: 18px;
}

div.bbs_write button:hover {
  text-decoration: underline;
  background-color: #4dc3fa;
  color: #ffffff;
}
