table.bbs_list {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table.bbs_list tr {
  border-top: 1px solid #fff842;
  border-bottom: 1px solid #fff842;
}

table.bbs_list td {
  cursor: pointer;
  color: #ffffff;
}

table.bbs_list th,
table.bbs_list td {
  padding: 8px;
}

table.bbs_list th {
  color: #fb667a;
}

div.bbs_write {
  width: 90%;
  margin: 10px auto;
}

div.bbs_write input {
  display: inline-block;
  width: 80%;
  padding: 8px;
  margin: 5px auto;
  border-radius: 10px;
  outline: none;
  border: none;
}

div.bbs_write input:hover {
  background-color: #ddd;
}

div.bbs_write input:focus {
  background-color: #eee;
}

div.bbs_write button {
  width: 80%;
  border: none;
  background-color: #fff842;
  color: #fb667a;
  margin: 5px auto;
  padding: 1rem;
  outline: none;
  border-radius: 10px;
}

div.bbs_write button:hover {
  text-decoration: underline;
  background-color: #4dc3fa;
  color: #ffffff;
}
