table.bbs_list {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

table.bbs_list th,
table.bbs_list td {
  padding: 8px;
}

table.bbs_list td {
  cursor: pointer;
}

table.bbs_list tr.title_tr {
  background-color: #1f2739;
  color: #fb667a;
}
