* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1c222e;
}

.App-header {
  background-color: #1c222e;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4dc3fa;
}

section.main_section {
  flex: 1;
  width: 95%;
  margin: 10px auto;
  border: 2px solid #282c34;
}

section.main_section input {
  width: 95%;
  outline: none;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
}

table.bucket_list {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.5rem;
}

table.bucket_list th,
table.bucket_list td {
  padding: 8px;
}

table.bucket_list tbody tr {
  background-color: #1c222e;
  color: #ffffff;
}

table.bucket_list thead tr:first-child {
  color: #fb667a;
  background-color: #1f2739;
}

footer {
  background-color: #1c222e;
  color: #ffffff;
  padding: 1rem;
  font-weight: bold;
}
