ul.main_nav {
  display: flex;
  background-color: #1f2739;
  color: #ffffff;
  list-style: none;
}

ul.main_nav a {
  display: inline-block;
  padding: 0.8rem;
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
  font-weight: bold;

  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

ul.main_nav a:hover {
  border-bottom: 3px solid #fb667a;
}

ul.main_nav li:nth-of-type(2) {
  margin-right: auto;
}

a.active_nav {
  background-color: #fb667a;
}
