div.about label,
div.about span {
  display: inline-block;
  width: 40%;
  padding: 10px;
}

div.about label {
  text-align: right;
  background-color: #1f2739;
}

div.about span {
  text-align: left;
  background-color: #1f2739;
}

div.about ul {
  list-style-type: none;
}
