.main_wrapper {
  width: 70vw;
  height: 70vh;
  padding: 60px 30px 30px 30px;
  margin: 0 auto;
}

.main_wrapper .table_title {
  background: #fff;
  padding: 15px 20px;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.btn_insert {
  display: inline-block;
  background: #e65655;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: 2.5%;
}

.btn_insert:before {
  content: "+";
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  position: absolute;
  width: 100%;
  top: -5%;
  right: -7%;
}

.btn_insert:hover {
  box-shadow: 0 0 18px 0 rgba(255, 27, 62, 0.65);
  cursor: pointer;
}
